<div id="recipe-list" class="my-4">
  <% unless current_user.recipes.none? %>
    <% if recipes.any? %>
      <%= render "recipes/index/recipe_card_container", recipes: recipes %>
    <% elsif params[:q].present? %>
      <p>No recipes found. :-(</p>
    <% else %>
      <p>How did you get here? Let me know... kollin@hey.com</p>
    <% end %>
  <% else %>
    <p>You don't have any recipes yet - add one now!</p>
  <% end %>
</div>