<h1>Your Recipe Shelf</h1>
<hr>

<div id="recipes" class="my-4">
  <% if current_user.recipes.any? %>
    <ul>
      <% current_user.recipes.each do |recipe| %>
        <li><%= link_to recipe.title, recipe %></li>
      <% end %>
    </ul>
  <% else %>
    <p class="m-0">No recipes yet - add one now!</p>
  <% end %>
</div>

<div id="recipe-control-panel" class="my-4">
  <%= link_to "Add a new recipe...", new_recipe_path %>
</div>