<div class="display-6">Your Recipe Shelf</div>
<hr>

<% if current_user.recipes.any? %>
  <%= render "search_bar" %>
<% else %>
  <p class="m-0">No recipes yet - add one now!</p>
<% end %>

<%= render "recipe_list", recipes: @recipes %>

<div id="recipe-control-panel" class="my-4">
  <%= link_to "Add a new recipe", new_recipe_path %>
  <% if params[:q].present? %>
    <br><%= link_to "<< Back to all recipes", recipes_path %>
  <% end %>
</div>