<div class="display-6">New recipe</div>
<hr>

<div id="new-recipe-body" class="my-4">
  <div class="row">
    <div class="col-7">
      <%= render "form", recipe: @recipe %>
    </div>
    <div class="col-5">
      <%= render "utility_panel" %>
    </div>
</div>
