<h1>Welcome to Food Sage</h1>

<div id='home-message'>
    <p class="m-0"><%= link_to 'Log in', new_user_session_path %></p>
    <p class="m-0"><%= link_to 'Sign up', new_user_registration_path %></p>
</div>