<div class="display-6">Welcome to Food Sage</div>
<h4>The wiser way to eat - whatever that means to you.</h4>

<br>
<p>Whether you want to eat:</p>
<ul>
    <li>less,</li>
    <li>more,</li>
    <li>cheaper,</li>
    <li>cleaner,</li>
    <li>greener,</li>
    <li>more adventurously,</li>
    <li>or to connect with loved ones,</li>
</ul>

<p>
    Food Sage will help you do it. <%= link_to "Log in", new_user_session_path %> or 
    <%= link_to "sign up for an account", new_user_registration_path %> today to easily:
</p>
<ul>
    <li>Create meal plans using your own recipes</li>
    <li>Automagically generate grocery lists from meal plans</li>
    <li>Approximate the calories and macros of your recipes and plans</li>
    <li>Share your recipes and plans with family and friends</li>
</ul>