@import url("color_palette.css");

#recipe-form .form-control {
    box-shadow: none;
}

#recipe-form .form-control:focus {
    border-color: var(--primary_color);
}



#recipe-form #links {
    margin-left: -0.75rem;
}

#recipe-form #ingredient-section-label {
    margin-left: -0.75em;
}

#recipe-form #ingredient-fields .label {
    font-size: 80%;
}