@import url("color_palette.css");


#recipe-form {
    position: relative;
}


#recipe-form .form-control {
    box-shadow: none;
}

#recipe-form .form-control:focus {
    border-color: var(--primary_color);
}



#recipe-form #links {
    margin-left: -0.75rem;
}

#recipe-form #ingredient-section-label {
    margin-left: -0.75em;
}

#recipe-form #ingredient-fields .label {
    font-size: 80%;
}

#recipe-form #recipe-delete-button { /* Affix delete button to bottom-right of form */
    position: absolute;
    bottom: 0;
    right: 0;
}