@import url("color_palette.css");


#sitewide-body {
    background: var(--background_color);
    color: var(--font-color);
}

#sitewide-navbar {
    background: var(--primary_color);
}

#btn-primary-sage {
    background-color: var(--secondary_color);
    border-color: var(--secondary_color);
    color: var(--font_color_light);
    font-weight: bold;
}

#btn-outline-sage {
    border-color: var(--secondary_color);
    color: var(--secondary_color);
}