@import url("color_palette.css");


/* Body */

#sitewide-body {
    background: var(--background_color);
    color: var(--font-color);
}


/* Navbar */

#sitewide-navbar {
    background: var(--primary_color);
}


/* Buttons */

#btn-primary-sage {
    background-color: var(--secondary_color);
    border-color: var(--secondary_color);
    color: var(--font_color_light);
    font-weight: bold;
}

#btn-outline-sage {
    border-color: var(--secondary_color);
    color: var(--secondary_color);
}

#btn-primary-accent {
    background-color: var(--accent_color);
    border-color: var(--accent_color);
    color: var(--font_color_light);
    font-weight: bold;
}

#btn-outline-accent {
    border-color: var(--accent_color);
    color: var(--accent_color);
}